body {
  background-color: black;
}

.container {
  background-size: cover;
}

.card {
  box-shadow: 2px 8px 12px 1px rgba(86, 117, 116, 0.45);
  margin-top: 1em;     
}

.btn {
  margin: 5px;
  width: 210px;
}

header {
font-family: 'Metal Mania', cursive;
/* height: 50px; */ 
}

#lblInhouse {
font-size: 1em;
color: white;
}

#lblBeforeYouBuy {
font-size: 2em;
}

#lblCheckout {
font-size:  2em;
}

#inputSearch {
margin-top: 5px;
}

.fa-search {
position: absolute;
top: 10px;
right: 30px;
}

#btn-list {
position: absolute;
right: 125px;
top: 10px;
}

/* #card-img {
position: relative;
overflow: hidden;
}

#card-img:after {
content: '';
display: block;
padding-top: 100%;
}

#card-img img {
width: auto;
height: 100%;
max-width: none;
position: absolute; */
/* left: 50%;
top: 0;
transform: translateX(-50%);
}*/

#card-game-name {
    width: 30rem; 
    position: absolute; 
    bottom: 10px;
    opacity: .75;
}

#lblGameName {
    font-weight: bold;
}

#lblGameDescription {
  font-weight: bold;
}

#lblGameReview {
  font-weight: bold;
}

#details-card {
  opacity: .75;
}

#card-description {
  /* float: left; */
  /* width: 500px;
  height: 480px; */
  /* width: auto;
  height: auto;
  max-width: none;
  position: absolute; */
  opacity: .7;  
}

#card-review {
  opacity: .75;
}

#txtGameDescription {
  /* overflow: auto; */
  text-align: left;
}

#txtGameDescription::-webkit-scrollbar {
width: 4px;
}
#txtGameDescription::-webkit-scrollbar-track {
/* background: orange;        color of the tracking area */
background-color: orange;
}
#txtGameDescription::-webkit-scrollbar-thumb {
background-color: rgba(0,0,0,0.1);    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid rgba(0,0,0,0.1);;  /* creates padding around scroll thumb */
}

.col-md-12 > .card {
margin: 1em;
height: 7em;
}

.txtReviews {
    overflow: auto;
    text-align: left;
  }
  
  .txtReviews::-webkit-scrollbar {
  width: 4px;
  }

  .txtReviews::-webkit-scrollbar-track {
  /* background: orange;        color of the tracking area */
  }

  .txtReviews::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(0,0,0,0.1);;  /* creates padding around scroll thumb */
  }
  
  
  